@import 'form.css';
@import 'tabs.css';
@import 'table.css';
@import 'typography.css';
@import 'menu.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.rounded-button {
    @apply bg-transparent border border-gray-500 text-xs text-gray-500 font-bold py-2 mx-4 px-4 rounded-full;
}

.rounded-button:hover {
    @apply border-blue-500 text-blue-500;
}
