@layer components {
    .input {
        @apply border-gray-300 rounded-md shadow-sm;
    }
    .input:focus {
        @apply ring-indigo-500 border-indigo-500;
    }

    .input:not(.error) {
        @apply border-gray-200;
    }
    .input:not(.error):focus {
        @apply border-gray-500;
    }

    .input.error {
        @apply border-red-500 ring-red-500;
    }

    .link-button {
        @apply underline text-sm text-gray-600 rounded-md;
    }
    .link-button:hover {
        @apply text-gray-900;
    }
    .link-button:focus {
        @apply outline-none ring-2 ring-offset-2 ring-indigo-500;
    }
}
