@layer components {
    .nav-link {
        @apply inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 transition duration-150 ease-in-out;
    }
    .nav-link.active {
        @apply border-indigo-400 focus:border-indigo-700;
    }

    .nav-link:hover {
        @apply text-gray-700 border-gray-300;
    }

    .nav-link:focus {
        @apply outline-none text-gray-700 border-gray-300;
    }

    .nav-link.active:focus {
        @apply border-indigo-700 border-gray-300;
    }

    .responsive-nav-link {
        @apply block w-full pl-3 pr-4 py-2 border-l-4 border-transparent text-left text-base font-medium text-gray-600 transition duration-150 ease-in-out text-center;
    }

    .responsive-nav-link.active {
        @apply border-indigo-400 text-indigo-700 bg-indigo-50;
    }

    .responsive-nav-link:hover {
        @apply text-gray-800 bg-gray-50 border-gray-300;
    }

    .responsive-nav-link:focus {
        @apply outline-none text-gray-800 bg-gray-50 border-gray-300;
    }
}
