@layer base {
    table {
        @apply w-full text-sm text-left text-gray-500;
    }
    thead {
        @apply text-xs text-gray-700 uppercase bg-gray-50;
    }
    thead th {
        @apply px-6 py-3;
    }

    tbody tr {
        @apply bg-white border-b hover:bg-gray-50;
    }

    td {
        @apply px-6 py-4 text-gray-900 whitespace-nowrap;
    }
}
